body {
  color: #353535;
  font-family: 'Gafata', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -moz-font-smoothing: antialiased;
  -moz-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  margin-top: 86px;
  background: #edf1f2;
}

.viewport {
  position: fixed;
  width: 960px;
  height: 100%;
  overflow-y: scroll;
}
.container {
  margin: 0px auto;
  width: 960px;
}


.scrollable {
  position: relative;
  top: 10px;
}

.blur {
  -webkit-filter: blur(5px);
}

.header-buttons {
  overflow: hidden;
  margin-top: 18px;
  float: right;
}

.header-button {
  font-size: 16pt;
  float: left;
  margin-left: 10px;
  position: relative;
}

.name {
  font-size: 25pt;
  font-weight: 900;
  letter-spacing: 2px;
  color: #4d1d1b;
}

.name > #email {
  font-size: 14pt;
  font-family: 'Josefin Sans';
  letter-spacing: -1px;
}

.project-img > a > img {
  width: 300px;
  height: 200px;
}

.divider-shadow {
  margin: 0px;
  margin-top: 5px;
}

.navbar {
  padding-top: 10px;
  position: fixed;
  background-color: #edf1f2;
  z-index: 100;
  top: 0px;
  width: 960px;
  border-bottom: 1px solid grey;
}

.project-show {
  width: 90%;
  height: 250px;
  margin: 0px auto;
  margin-bottom: 50px;
}

.project-img {
  float: right;
}

.project-title {
  font-size: 18pt;
  border-bottom: 1px grey solid;
  width: 50%;
}

.project-desc {
  padding-top: 15px;
  width: 50%;
}

.about {
  margin: 0px auto;
  margin-bottom: 80px;
  width: 90%;
}

.profile-picture {
  float: left;
  margin-right: 15px;
  margin-left: 0px;
  margin-top: 0px;
}

.resource {
  font-size: 16pt;
  margin-left: 10px;
}

.code {
  display: inline;
}

a {
  color: #4e3c87;
  text-decoration: none;
  position:relative;
}
a:hover{
  color: #6c0000;
}

.bigger-font {
  font-size: 30pt;
}
